#footerContainer {
    #footerInsideContainer {
        max-width:800px;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        > div {
            margin-left: 50px;
            margin-right: 50px;
            align-self: center;
        }
        li {
            .weak {
                color:darken($text-color,50%);
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
