
  <div id="footerInsideContainer">
    <div id="footerSocialIcons">
      <div id="footerSocialIconsContent">
        <ul>
          <li><span class="weak">twitter: </span><a target="_blank" href="http://twitter.com/prijindal">@prijindal</a></li>
          <li><span class="weak">facebook: </span><a target="_blank" href="http://facebook.com/prijindal">prijindal</a></li>
          <li><span class="weak">github: </span><a target="_blank" href="http://github.com/prijindal">prijindal</a></li>
        </ul>
      </div>
    </div>
  </div>
