
<div id="navInsideContainer">
  <div id="navHeader">
    <h2>Priyanshu Jindal</h2>
  </div>
  <div id="navigation">
    <div id="navigationContent">
      <ul>
        <li><a class="active" ng-click="loader.loading = true" href="#/home">Home</a></li>
        <li><a class="active" ng-click="loader.loading = true" href="#/about">About</a></li>
        <li><a class="active" ng-click="loader.loading = true" href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="loading" ng-show="loader.loading">Loading</div>
