
<div id="navInsideContainer">
  <div id="navHeader">
    <h2>Priyanshu Jindal</h2>
  </div>
  <div id="navigation">
    <div id="navigationContent">
      <ul>
        <li class="home menu-list"><a ng-click="loading('home')" href="#/home">Home</a></li>
        <li class="about menu-list"><a ng-click="loading('about')" href="#/about">About</a></li>
        <li class="works menu-list"><a ng-click="loading('works')" href="#/works">My Works</a></li>
        <li class="contact menu-list"><a ng-click="loading('contact')" href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="loading" ng-show="loader.loading">Loading....</div>
