<main>
  <div id="about">
    <div id="basic">
      <div class="title">
        <h2>Basic Info</h2>
      </div>
      <div class="container">
        <div class="picture">
          <img [src]="about.basic.img">
        </div>
        <div class="info">
          <div id=mainInfo>
            {{about.basic.main}}
          </div>
          <div id="description">
            {{about.basic.description}}
          </div>
        </div>
      </div>
    </div>
    <div ng-show="about.degrees.length" id="degrees">
      <div class="title">
        <h2>Degrees</h2>
      </div>
      <div class="container">
        <div *ngFor="let degree of about.degrees" class="degree">
          {{degree}}
        </div>
      </div>
    </div>
    <div id="achievments">
      <div *ngIf="about.achievments.length > 0" class="title">
        <h2>Achievments</h2>
      </div>
      <div *ngFor="let achievment of about.achievments" class="container">
        {{achievment}}
      </div>
      <div id="button">
        <a [routerLink]="['/works']">What I've Done</a>
      </div>
    </div>
  </div>
</main>
