<main>
  <div id="about">
    <div id="basic">
      <div class="title">
        <h2>Basic Info</h2>
      </div>
      <div class="container">
        <div class="picture">
          <img src="favicon.ico">
        </div>
        <div class="info">
          <div id=mainInfo>
            B.Tech CSE
          </div>
          <div id="description">
            I am a web developer in India, with expertise in both Front and back end.
            Also i am an enginnering student in my 2<span class="superscript">nd</span> year.
          </div>
        </div>
      </div>
    </div>
    <div id="degrees">
      <div class="title">
        <h2>Degrees</h2>
      </div>
      <div class="container">
        <div class="degree">
          ABCD
        </div>
        <div class="degree">
          ABCDEFGH
        </div>
        <div class="degree">
          ABCDEFGH
        </div>
        {{degreees}}
      </div>
    </div>
    <div id="achievments">
      <div class="title">
        <h2>Achievments</h2>
      </div>
      <div class="container">
        {{achievments}}
      </div>
      <div id="button">
        <a ng-href="#/works">What I've Done</a>
      </div>
    </div>
  </div>
  {{achievments}}
  {{allotherstuff}}
</main>
