<main>
  <div id="about">
    <div id="basic">
      <div class="title">
        <h2>Basic Info</h2>
      </div>
      <div class="container">
        <div class="picture">
          <img ng-src="{{about.basic.img}}">
        </div>
        <div class="info">
          <div id=mainInfo>
            {{about.basic.main}}
          </div>
          <div id="description">
            {{about.basic.description}}
          </div>
        </div>
      </div>
    </div>
    <div ng-show="about.degrees.length" id="degrees">
      <div class="title">
        <h2>Degrees</h2>
      </div>
      <div class="container">
        <div ng-repeat="degree in about.degrees" class="degree">
          {{degree}}
        </div>
      </div>
    </div>
    <div id="achievments">
      <div ng-show="about.achievments.length" class="title">
        <h2>Achievments</h2>
      </div>
      <div ng-repeat="achievment in about.achievments" class="container">
        {{achievment}}
      </div>
      <div id="button">
        <a ng-href="#/works">What I've Done</a>
      </div>
    </div>
  </div>
  {{achievments}}
  {{allotherstuff}}
</main>
