<main>
  <div id="about">
    <div id="basic">
      <div id="picture">
        <img src="favicon.ico">
      </div>
      <div id="info">
        <div id=mainInfo>
          B.Tech CSE
        </div>
        <div id="description">
          I am a web developer in India, with expertise in both Front and back end. Also i am an enginnering student in my 2<span class="superscript">nd</span> year. 
        </div>
      </div>
    </div>
  </div>
  {{achievments}}
  {{degrees}}
  {{allotherstuff}}
</main>
