<main>
  <div id="contact">
    <form class="" method="post" ng-submit="submit(form)">
      <div class="inputs">
        <input type="text" ng-model="form.name" placeholder="Enter Your Name" required>
        <input type="email" ng-model="form.email" placeholder="Enter Your Email" required>
      </div>
      <div class="textarea">
        <textarea ng-model="form.message" placeholder="Enter Message" rows="4" required></textarea>
      </div>
      <p class="small"><a ng-click="resetForm()">Clear</a> all the fields</p>
      <div id="button">
        <button disabled>Mail</button>
      </div>
    </form>
    <p>Or</p>
    <p>Mail me at <a href="mailto:{{myDetails.mail.link}}">{{myDetails.mail.user}}</a></p>
    <p>Or</p>
    <p>Meet me on Facebook: <a ng-href="{{myDetails.fb.link}}">{{myDetails.fb.user}}</a></p>
    <p>Or</p>
    <p>Visit me on Github: <a ng-href="{{myDetails.github.link}}">{{myDetails.github.user}}</a></p>
    <p>Or</p>
    <p>Send me a Tweet: <a ng-href="{{myDetails.tweet.link}}">{{myDetails.tweet.user}}</a></p>
  </div>
</main>
