<main>
  <div id="works">
    <div class="title">
      <h1>My Works</h1>
    </div>
    <div class="work">
      <div class="title">
        <h2>Social Book</h2>
      </div>
      <div class="container">
        <div class="picture">
          <img src="favicon.ico">
        </div>
        <div class="info">
          <div id="description">
            A Social Networking
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button">
    <a ng-href="#/contact">Contact Me</a>
  </div>
</main>
