<main>
  <div id="works">
    <div class="title">
      <h1>My Works</h1>
    </div>
    <div ng-repeat="work in works" class="work">
      <div class="title">
        <h2>{{work.title}}</h2>
      </div>
      <div class="container">
        <div class="picture">
          <a ng-href="{{work.url}}"><img ng-src="{{work.img}}"></a>
        </div>
        <div class="info">
          <div id="description" length="54">
            {{work.description}}
          </div>
          <div id="url">
            <a ng-href="{{work.url}}">{{work.url}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button">
    <a ng-href="#/contact" ng-click="loader.loadPage('contact')">Contact Me</a>
  </div>
</main>
