:host {
  perspective: 800px;
}
.container {
  animation: zoom-animation 0.5s ease-in;
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background: #ffffff;
}
@keyframes zoom-animation {
  0% {
    opacity: 0;
    transform: rotateX(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}
