
#navContainer {
    width: 100%;
    height: $nav-height;
    position: absolute;
    top: 0;
    left: 0;
    #navInsideContainer {
        max-width:800px;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        @media (max-width: $media-query) {
            flex-direction: column;
            #navHeader {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1000px) {
            max-width:none;
            > div {
                margin: 0;
            }
        }
        > div {
            margin-left: 20px;
            margin-right: 20px;
            align-self: center;
        }
        #navHeader {
            h2 {
                margin: 0;
                font-weight: normal;
            }
        }
        #navigation ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media (max-width: 300px) {
                flex-direction: column;
            }
            li {
                margin: 1em 1.5em;
                @media (max-width: $media-query) {
                    margin-left:1em;
                    margin-right: 1em;
                }
                &.active a{
                  border-bottom-color:$text-color;
                  cursor: default;
                }
                a {
                    background-color: $button-colour;
                    padding: 1em 0;
                    font-weight: bold;
                    border-bottom:2px solid transparent;
                    outline: none;
                    &:hover {
                        border-bottom-color:darken($text-color,30%);
                    }
                    &:active {
                      border-bottom-color:$text-color;
                    }
                }
            }
        }
    }
    #loading {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100%;
      position: relative;
    }
}
