html,body {
    height: 100%;
    color:$text-color;
    min-width:223px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    a {
        color:$text-color;
    }
    .frame {
      height: 100%;
    }
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        position: relative;
        background-color: $background-color;
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        #mainContainer {
            max-width:$main-width;
            margin: 0 auto;
            padding-bottom: $footer-height*1.1;
            padding-top: $nav-height;
            @media (max-width: $media-query) {
              padding-top: $nav-height*1.8;
            }
            @media (max-width: 300px) {
                padding-top: $nav-height*3;
            }
        }

        #footerContainer {
            width: 100%;
            height: $footer-height;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    }
}
