$nav-height:100px;

$footer-height:110px;
$media-query:700px;
$main-width:1000px;

$background-color:#333;
$text-color:#ddd;
$button-colour:transparent;

@import 'normalize';
@import 'reset';
@import 'position';
@import 'navigation';
@import 'footer';
@import 'additionals';

@mixin card {
  .title {
    text-align: left;
    padding-left:100px;
    border-bottom: 1px solid #FFF;
    @media (max-width: $media-query) {
      text-align: center;
      padding-left:0;
    }
  }
  .container {
    margin-top:20px;
    margin-bottom: 20px;
  }
}


@mixin paddingFix {
  padding-top: $nav-height*0.50;
  @media (max-width: $media-query) {
    min-width:initial;
  }
}

@mixin infoCardWrapper {
  .container {
    display: flex;
    flex-direction: row;
    @media (max-width: $media-query) {
      flex-direction: column;
    }
  }
}

@mixin infoCard {
  .picture {
    flex:2;
    img {
      //Temp // Make it responsive bitch
      width:200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .info {
    flex:3;
    padding:20px;
    text-align: left;
  }
}

@mixin links {
    border-bottom: 1px solid #aaa;
    &:hover {
      border-bottom-color: #FFF;
    }
    &:active {
      border-bottom-color: #aaa;
      font-size: 1.1em;
    }
}

#mainContainer {
    main {
        text-align: center;
        margin:0 60px;
        max-width: $media-query;
        #content {
            font-size: 1.3em;
            margin-bottom: 50px;
        }
    }
    #title {
      color:#eee;
    }
}

#contact {
  min-width: 400px;
  @include paddingFix;
  form {
    .inputs {
      margin:10px 0;
      input{
        @include inputs;
        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          margin-bottom: -1px;
          &:focus {
            z-index: 2;
          }
        }
        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-top: -1px;
          &:focus {
            z-index: 1;
          }
        }
      }
    }
    .textarea {
      margin: 10px 0;
      textarea {
        @include inputs;
        border-radius: 4px;
      }
    }
    .small {
      font-size: 14px;
    }
  }
  a {
    @include links;
  }
}

#about {
  @include paddingFix;
  #basic {
    max-width: 800px;
    @include card;

    @include infoCardWrapper;
    @include infoCard;
    .info {
      #mainInfo {
        font-size: 2rem;
        margin-bottom: 10px;
      }
      #description {
        margin-top:10px;
        font-size: 1.2rem;
      }
    }
  }
  #degrees,#achievments {
    @include card;
  }
  #degrees {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .degree {
        padding: 20px 0;
        flex:0 0 50%;
        @media (max-width: $media-query) {
          flex:0 0 100%;
        }
      }
    }
  }
}

#works {
  @include paddingFix;
  .work {
    max-width: 800px;
    @include card;

    @include infoCardWrapper;
    @include infoCard;
    .info {
      #description {
        margin-top:10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
      #url {
        a {
          @include links;
          &:active {
            font-size: 1.01em;
            position: relative;
            top:-1px;
          }
        }
      }
    }
  }
}
