$nav-height:100px;

$footer-height:110px;
$media-query:600px;
$main-width:1000px;

$background-color:#333;
$text-color:#fff;
$button-colour:transparent;

@import 'normalize';
@import 'reset';
@import 'position';

#navContainer {
    width: 100%;
    height: $nav-height;
    position: absolute;
    top: 0;
    left: 0;
    #navInsideContainer {
        max-width:800px;
        margin: 0 auto;
        padding-top: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        @media (max-width: $media-query) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            #navHeader {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1000px) {
            max-width:none;
            > div {
                margin: 0;
            }
        }
        > div {
            margin-left: 20px;
            margin-right: 20px;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
        }
        #navHeader {
            h2 {
                margin: 0;
                font-weight: normal;
            }
        }
        #navigation ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
            @media (max-width: 300px) {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column;
            }
            li {
                margin: 1em 1.5em;
                @media (max-width: $media-query) {
                    margin-left:1em;
                    margin-right: 1em;
                }
                &.active a{
                  border-bottom-color:$text-color;
                  cursor: default;
                }
                a {
                    background-color: $button-colour;
                    padding: 1em 0;
                    font-weight: bold;
                    border-bottom:2px solid transparent;
                    outline: none;
                    &:hover {
                        border-bottom-color:darken($text-color,30%);
                    }
                    &:active {
                      border-bottom-color:$text-color;
                    }
                }
            }
        }
    }
    #loading {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: 100%;
      position: relative;
    }
}

#footerContainer {
    #footerInsideContainer {
        max-width:800px;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        > div {
            margin-left: 50px;
            margin-right: 50px;
            align-self: center;
        }
        li {
            @media (max-width: 480px) {
                &:nth-child(1n+2) {
                    display: none;
                }
            }
            .weak {
                color:darken($text-color,50%);
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#mainContainer {
    main {
        text-align: center;
        margin:0 20px;
        #content {
            font-size: 1.3em;
            margin-bottom: 50px;
        }
    }
}


#button {
  a,
  button{
        padding:0.625em 1.25em;
        font-size: 18px;
        background-color: $text-color;
        color:$background-color;
        font-weight: bold;
        text-shadow: none;
        border: 1px solid #fff;
        border-radius: 6px;
        &:active {
            background-color:darken($text-color, 10%);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            border-color:#ADADAD;
            outline: 0;
        }
    }
}
