[preview-container] {
  display: none;
  [preview-buttons] {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    button {
      background-color: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
      display: inline-block;
      padding: 4px 16px;
      border-radius: 16px;
      color: #9da5b3;
      font-size: 14px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      transition: all 0.2s ease-out;
      &:hover {
        color:#4f8ff7;
      }
      &.active {
        background-color: #4f8ff7;
        color: white;
      }
    }
  }
  [preview] {
    // Use Iframe zoom
    transform: scale(0.7);
    width: 467px;
    height: 800px;
    background-image: url("http://localhost:4000/img/devices-sprite.jpg");
    background-size: 467px;
    margin: 0 auto;
    position: relative;
    top: -17vh;
    iframe {
      position: fixed;
      top: 65px;
    }
  }
  &.ios [preview] {
    background-position: center top;
    iframe {
      left: 73px;
      width: 320px;
      height: 568px;
    }
  }
  &.md [preview] {
    background-position: center center;
    iframe {
      height: 590px;
      width: 360px;
      top: 65px;
      left: 53px;
    }
  }
  &.windows [preview] {
    background-position: center bottom;
    iframe {
      width: 350px;
      height: 622px;
      top: 65px;
      left: 53px;
    }
  }
  @media (min-width:640px) {
    display: block;
  }
}
